@charset "UTF-8";


body,
html {
	margin:0;
	padding:0; 
}

.ubercontainer {
	height:100vh; 
	margin: auto;
}
	
#container {
	width: 10000%;
	overflow: hidden;
	margin: 0 auto;
	
	height:80vh;
}
	
.photobanner {
	height: 100%;
} 

.photobanner img {
	height:100%;
}


.info {
	padding:4px 10px 4px 10px; 
	font-size: 14px;
	font-family: 'Permanent Marker', cursive;
}


h1 {
    margin:0;
	padding:0;
	text-align:center
}
p {
    margin:0;
	padding:0;
	text-align:center
}


.beelden img {
	height:75vh;
	
	}


/*keyframe animations*/
.first {
	-webkit-animation: bannermove 10s linear infinite;
	   
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -10000px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -10000px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -10000px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -10000%;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -10000px;
 }
 
}




@media screen and (max-width: 768 px) {
    .photobanner {
		height: 200px;
	} 
	h1 {
		color:red;
	}
}
