@charset "UTF-8";

@font-face{
    font-family: "a gothic";
    src: url('a gothic rond .otf');
}

body,
html {
	margin:0;
	padding:0;
	max-width: 100%;
    overflow-x: hidden;
}

.beginscherm {
	height:100vh; 
	margin: auto;
	
}
	
#containerrondfotobanner {
	width: 30030%;
	overflow: hidden;
	margin: 0 auto;
	height:80vh;
	
}
	
.photobanner {
	height: 80vh;
	
	
} 


.photobanner img {
	height:80vh;
}

/*keyframe animations*/
.first {
	-webkit-animation: bannermove 70s linear infinite;
	   -moz-animation: bannermove 70s linear infinite;
	    -ms-animation: bannermove 70s linear infinite;
	     -o-animation: bannermove 70s linear infinite;
	        animation: bannermove 70s linear infinite;
}
	   
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -34000px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -34000px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -34000px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -34000%;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -34000px;
 }
 
}

.info {
	padding:4vh, 5vw, 10vh, 5vW; 
	font-size: 4vh;
	font-family:'a gothic';
}


h1 {
    margin:0;
	padding:0;
	text-align:center
}
p {
    margin:0;
	padding:0;
	text-align:center
}

.beelden img {
	height:75vh;

    margin-left: auto;
    margin-right: auto
	}

.tekeningen img {
	max-height:90vh;
	display: block;
    margin-left: auto;
    margin-right: auto
	}	
}

@media screen and (max-width: 1280 px) {
    .photobanner {
		height: 200px;
	} 
	h1 {font-size: 20%;
	}
}

@media screen and (max-width: 768 px) {
    .photobanner {
		height: 200px;
	} 
	h1 {font-size: 200%;
	}
}
@media screen and (max-width: 1280 px) {
    .drawings {
		height: 200px;
		width: fit;
	} 
	h1 {font-size: 20%;
	}
}